.field {
  width: 100%;
  height: 500px;
  background-color: gray;

  &__box {
    width: 50%;
    height: 50%;
    background-color: green;
  }

  &__button {
    padding: 15px;

    &_focused:hover {
      color: red;
    }
  }
}

