@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  background-color: rgb(209, 209, 209);
}

.nav {
  background-color: rgb(192, 63, 63);
  text-align: center;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 20px;
}

.h1 {
  background-color: yellowgreen;

}

ul:first-child:hover {
  background-color: black;
}

section {
  height: 500px;
  background-color: rgb(244, 123, 123);
}

.photo {
  background-image: url(../img/kostia.JPG);
  height: 200px;
  width: 400px;
  background-size: cover;
  /* background-position: bottom; */
  border: 2px solid red;
}

.kostia {
  height: 300px;
  border: 2px solid blue;
}

.go-top {
  display: inline-block;
  height: 80px;
  width: 80px;
  background-color: rgb(244, 123, 123);
  color: white;
  line-height: 80px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 10px;
  border: 2px solid rgb(56, 16, 16);
}