@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.h1 {
  background-color: yellowgreen;
}

ul:first-child:hover {
  background-color: black;
}

section {
  height: 500px;
  background-color: rgb(244, 123, 123);
}

.photo {
  background-image: url(../img/kostia.JPG);
  height: 200px;
  width: 400px;
  background-size: cover;
  /* background-position: bottom; */
  border: 2px solid red;
}

.kostia {
  height: 300px;
  border: 2px solid blue;
}