body {
  background-color: gray;
}

$field-width: 300px; 
$cell-height: $field-width / 3;
$cell-width: $field-width / 3;
$col-count: 3;
$row-count: 5;


/* #region test */
.game {
  border: 2px solid black;
  width: $field-width;
  position: relative;
   

  &__field {
    display: flex;
    flex-wrap: wrap;
  }

  &__cell {
    box-sizing: border-box;
    height: $cell-height;
    width: $cell-width;
    border: 1px dashed black;
  }

  &__player {
    $player-width: $cell-height * 0.8;
    $player-height: $cell-width * 0.8;
    $player-position: ($cell-height - $player-height) / 2;
    $step: $cell-height;

    position: absolute;
    top: $player-position;
    left: $player-position;
    width: $player-width;
    height: $player-height;
    border-radius: 50%;

    @for $index from 1 through $row-count {
      &_row-#{$index} { 
        top: $player-position + ($index - 1) * $cell-height;
      }
    }

    @for $index from 1 through $col-count {
      &_col-#{$index} { 
        left: $player-position + ($index - 1) * $cell-height;
      }
    }

    $colors:
      'red' #f00,
      'green' #080,
      'blue' #00f;

    @each $name, $color in $colors {
      &_color-#{$name} { 
      background-color: $color;
      }
    }
  }
}

%large-text {
  font-size: 20px;
  font-weight: normal;
  color: #000;
}

.title {
  @extend %large-text;
}

h1 {
  @extend %large-text;
}
/* #endregion */