$bgc-blue: #EDF7FF;

body {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #394149;
  // box-sizing: border-box;
}

a {
  color: #394149;
  text-decoration: none;
}

._container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
  // overflow: hidden;
  // border: 1px solid;
}
// BUTTON =======
.button-1 {
  border: none;
  padding: 18px 32px;
  border-radius: 31px;
  background-color: rgb(245, 138, 7, 0.2);
    color: #F58A07;
  cursor: pointer;

  &_hover:hover {
    background-color: #F58A07;
    color: white;
  }
}
// END BUTTON =======

/* #region HEADER NAV */
$header-height: 84px;
.header {

  &__container {
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container-nav {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__link:not(:last-child) {
    margin-right: 32px;
  }

  &__link {

    &_hover:hover {
      text-decoration: underline;
    }
  }

  &__button {
    margin-left: 40px;
  }
}
/* #endregion */

/* #region Header section */

.header-section {

  &__main-info {
    background-color: $bgc-blue;
  }
}
.main-info {

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 117px;
  }

  &__text {
    max-width: 592px;
  }

  &__title {
    font-size: 64px;
    font-weight: 600;
    color: #1D3444;
    margin-bottom: 12px;
    line-height: 72px;
  }

  &__sub-title {
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    line-height: 30px;
  }

  &__buttons-box {
    display: flex;
    margin-top: 30px;
  }

  &__buttons:not(:last-child) {
    margin-right: 20px;
  }

  &__buttons {

  }

  &__companies-text {
    margin-top: 56px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(57, 65, 73, 0.5);
  }

  &__companies-logo {
    display: flex;
    margin-top: 18px;
  }

  &__logo:not(:last-child) {
    margin-right: 20px;
  }

  &__img {
    
  }

  &__img img {
    height: 100%;
  }
}
/* #endregion */

/* #region HELP section */

.help-section {
  padding: 96px 0;

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #1D3444;
    width: 60%;
    margin: 0;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    line-height: 30px;
    width: 60%;
    margin-top: 27px;
  }

  &__articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 64px;
  }

  &__article {
  }
}
.article {
  width: 400px;

  &__img {
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    color: #0D1317;
    margin-top: 33px;
  }

  &__subtitle {
    color: #5B5B5B;
    width: 80%;
    margin-top: 17px;
    margin-bottom: 24px;
    line-height: 28px;
  }

  &__link {
    color: #F58A07;
  }
}
/* #endregion */

/* #region Solution section */

.solution-section { 

  background-color: $bgc-blue;
  padding: 96px 0;

  &__text-box {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    width: 50%;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #0D1317;
    margin-top: 0;
  }

  &__subtitle {
    width: 45%;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #1D3444;
    margin-top: 0;
  }

  &__cards-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 64px;
  }

  &__card {
    
  }
}
.card {
  background-color: white;
  width: 401px;
  height: 277px;
  border-radius: 20px;
  padding: 48px 26px 37px 39px;
  box-sizing: border-box;

  &__img {
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    color: #0D1317;
    margin-top: 32px;
  }

  &__subtitle {
    font-weight: 500;
    line-height: 28px;
    color: #5B5B5B;
    margin-top: 16px;
  }
}
/* #endregion */

/* #region About-section */

/* #region first-row */

.about-section {

  &__first-row {
  }

  &__second-row {
  }
}
.first-row {
  display: flex;
  justify-content: space-between;
  padding: 0 0 96px 0;

  &__left {
    margin-right: 47px;
  }

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
    margin-top: 70px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-top: 32px;
  }

  &__info-box {
    display: flex;
    margin-top: 48px;
  }

  &__right {
    position: relative;
  }

  &__circle {
    position: absolute;
    top: -50px;
    right: -60px;
  }

  &__img {
  }
}
.info-box {

  &__card:not(:last-child) {
    margin-right: 26px;
  }

  &__number {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #F58A07;
    margin: 0;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    color: #0D1317;
    margin: 16px 0;  
  }

  &__subtitle {
    color: #5B5B5B;
    line-height: 28px;
  }
}


/* #endregion */

/* #region second-row */

.about-section {
  padding: 96px 0;

  &__second-row {
  }
}
.second-row {
  background-color: $bgc-blue;
  padding: 48px;
  border-radius: 20px;
  position: relative;

  &__ribbon {
    position: absolute;
    top: -15px;
    right: -15px;
  }

  &__top {
    
  }

  &__button {
    padding: 8px 24px;
    border: 1px solid #A8BCCC;
    border-radius: 30px;
  }

  &__button:not(:last-child) {
    margin-right: 24px;
  }

  &__button:hover {
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
    color: #F58A07;
  }

  &__center {
    margin-top: 80px;
    display: flex;
  }

  &__center-left {
  }

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
    width: 80.5%;
  }

  &__subtitle {
    width: 71.8%;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  &__link {
    color: #F58A07;
  }

  &__image {
    height: 100%;
  }
}


/* #endregion */

/* #endregion */